<section id="add-funds-container"  _="init set $page to 1" class="flex items-center justify-center w-screen min-h-screen sm:bg-gray-50 ">
  <div class="flex flex-col items-center justify-start w-full min-h-screen sm:w-2/3 sm:max-w-xl sm:justify-start ">
		<div class="flex items-center justify-between w-full px-6 sm:px-0 pb-8 pt-14 ">
			
			<button type="button" _="on click call go_back()">
				<svg class="cursor-pointer  sm" width="12" height="22" viewBox="0 0 12 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.26963 20.6933L0.686817 11.7355C0.477332 11.5187 0.373316 11.2377 0.373316 10.9578C0.373316 10.678 0.477332 10.3967 0.686817 10.1802L9.26963 1.22234C9.69863 0.772625 10.4106 0.758001 10.8587 1.18866C11.3099 1.61639 11.3245 2.33147 10.8924 2.77819L3.01738 11.0001L10.891 19.1375C11.3232 19.5828 11.3085 20.2991 10.8573 20.727C10.4092 21.1578 9.69619 21.1428 9.26963 20.6933Z" fill="#409384" />
				</svg>
			</button>

			<h1 class="text-2xl font-semibold text-gray-700">Add Funds</h1>
			
			<svg class="cursor-pointer" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M6.228 7C6.777 5.835 8.258 5 10 5C12.21 5 14 6.343 14 8C14 9.4 12.722 10.575 10.994 10.907C10.452 11.011 10 11.447 10 12M10 15H10.01M19 10C19 11.1819 18.7672 12.3522 18.3149 13.4442C17.8626 14.5361 17.1997 15.5282 16.364 16.364C15.5282 17.1997 14.5361 17.8626 13.4442 18.3149C12.3522 18.7672 11.1819 19 10 19C8.8181 19 7.64778 18.7672 6.55585 18.3149C5.46392 17.8626 4.47177 17.1997 3.63604 16.364C2.80031 15.5282 2.13738 14.5361 1.68508 13.4442C1.23279 12.3522 1 11.1819 1 10C1 7.61305 1.94821 5.32387 3.63604 3.63604C5.32387 1.94821 7.61305 1 10 1C12.3869 1 14.6761 1.94821 16.364 3.63604C18.0518 5.32387 19 7.61305 19 10Z" stroke="#409384" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
			</svg>
		</div>

		<form id="add-funds-form" class="farmbank-input-styling h-full flex flex-col flex-grow sm:flex-grow-0 w-full mb-10">
			<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" />
			
			<% if @errors.present?  %>
				<div class="flex flex-col justify-start w-full h-full px-8 space-y-10 sm:py-8 sm:shadow-sm sm:bg-white sm:h-auto sm:rounded-md">
					<div class="text-red-500 text-base font-semibold leading-normal">
						<%= @errors.join(", ") %>
					</div>
				</div>
			<% end %>
			
			<div id="page-1" class="w-full h-full flex flex-col flex-grow sm:flex-grow-0 items-start justify-between sm:justify-start px-6 sm:px-8 pt-6 pb-6 mb-auto sm:mb-0 text-gray-600  sm:bg-white sm:h-auto sm:rounded-md shadow-sm">
				<div class="relative flex flex-col items-start justify-center w-full pb-8">
					<h4 class="text-lg font-semibold ">How much are you adding?</h4>
					<label class="mb-5 no-style" for="balance">These funds will be added to your Available Balance.</label>
					
					<div class="relative w-full">
						<input 
							autofocus
							_="on htmx:afterRequest 
								if event.detail.xhr.response.length > 0 
									add .invalid to #balance
									add @disabled to #add-funds-next-button
									set #deposit-amount.innerText to '₱0.00'
									add .text-gray-400 to #dummy-placeholder
									add .cursor-not-allowed to #add-funds-next-button
									add .bg-gray-300 .cursor-not-allowed to #add-funds-next-button
									remove .bg-farmbank-yellow .hover:bg-yellow-500 from #add-funds-next-button
								else 
									set #deposit-amount.innerText to Intl.NumberFormat('fil-PH', { maximumFractionDigits: 2, style: 'currency', currency: 'PHP' }).format(my.value)
									remove .invalid from #balance
									remove @disabled from #add-funds-next-button
									remove .text-gray-400 from #dummy-placeholder
									remove .cursor-not-allowed from #add-funds-next-button
									add .bg-farmbank-yellow .hover:bg-yellow-500 to #add-funds-next-button
									remove .bg-gray-300 from #add-funds-next-button
								end
							" 
							style="padding: 2rem 2rem 2rem 2rem; position: relative" 
							class="w-full p-6 border-2 outline-none text-2xl focus:border-blue-100 focus:border" 
							name="transaction[amount]"
							hx-post="<%= add_funds_validate_amount_path %>"
							hx-trigger="keyup changed"
							hx-target="#add-funds-errors"
							hx-include="[name='transaction[amount]']"
							type="number"
							min="0"
							step="0.01"
							id="balance"
							placeholder="0.00"
							value="" />
						<div id="dummy-placeholder" class="absolute text-gray-400 left-0 px-3 h-full top-0 mt-2 transform">₱</div>

						<div id="add-funds-errors">
						</div>
					</div> 
				</div> 
			
				<div class="flex items-center justify-center w-full px-8 py-8 border-t sm:border-t-0">
					<button
						disabled
						id="add-funds-next-button"
						_="on click set $page to 2
							add .hidden to #page-1 
							remove .hidden from #page-2 
						"
						type="button"
						class="no-style cursor-pointer block w-full py-3 font-bold text-center text-white transition-all cursor-not-allowed bg-gray-300 rounded-full sm:py-3 sm:w-80"
					> Next 
					</button>
				</div>
			</div>
		
			<div id="page-2" class="hidden w-full h-full flex overflow-y-auto flex-col flex-grow sm:flex-grow-0 items-start justify-between sm:justify-start px-6 sm:px-8 pt-6 pb-6 mb-auto sm:mb-0 text-gray-600  sm:bg-white sm:h-auto sm:rounded-md shadow-sm">
				
				<div class="w-full inline-flex">
					<p class="text-gray-600 text-base font-semibold leading-normal">
						Deposit
						<span class="font-farmbank-teal text-base font-semibold leading-normal">
						<span id="deposit-amount"></span> 
						</span>
						to the account below:
					</p>
				
				</div>
				<div class="bg-farmbank-green-100 w-full mt-8 px-5 py-6 rounded-3xl justify-start items-start gap-2 inline-flex">
					<div class="text-gray-600 text-base font-normal leading-normal">
						<span>Bank<br/></span>
						<span class="font-semibold">Netbank<br/></span>
						<span><br/>Account Number<br/></span>
						<span class="font-semibold"><%=farmbank_bank_account%><br/></span>
						<span><br/>Account Name<br/></span>
						<span class="font-semibold">Farmbank</span>
					</div>
				</div>
				<div class="w-full mt-8">
					<div class="mb-6">
						<label class="no-style relative text-base text-gray-500 " for="bank-account_number">
							<span class="text-gray-600 text-base font-semibold leading-normal">Bank Account Number <br/></span>
							<span class="text-gray-600 text-base font-normal leading-normal">This information is stored securely and used only to verify your transfer.</span>
						</label>
						<div class="mt-4 pb-2">
							<input
							id="bank-account-number"
							hx-post="<%= add_funds_validate_transaction_path(field: 'bank_account_number') %>"
							hx-trigger="keyup changed"
							hx-target="#add-funds-bank-account-number-errors"
							hx-include="[name='transaction[bank_account_number]']"
							hx-encoding='multipart/form-data'
							hx-swap="innerHtml"
							_="on htmx:afterRequest
								if event.detail.xhr.response.length > 0
									add .bg-gray-300 .cursor-not-allowed to #confirm-transaction-button
									remove .bg-farmbank-yellow .hover:bg-yellow-500 from #confirm-transaction-button
									add .invalid to #bank-account-number
									add @disabled to #confirm-transaction-button
								else
									remove .invalid from #bank-account-number
									remove @disabled from #confirm-transaction-button
									remove .bg-gray-300 .cursor-not-allowed from #confirm-transaction-button 
									add .bg-farmbank-yellow .hover:bg-yellow-500 to #confirm-transaction-button
								end"
							name="transaction[bank_account_number]"
							class="w-full p-4 border-2 outline-none"
							type="text"
							required
							placeholder="Enter your bank account number"
							>

						</div>
						<div id="add-funds-bank-account-number-errors">
						</div>
					</div>

					<div>
						<label class="no-style relative text-base text-gray-500 " for="deposit-slip">
							<span class="text-gray-600 text-base font-semibold leading-normal">Upload your proof of payment <br/></span>
							<span class="text-gray-600 text-base font-normal leading-normal">(ex. physical deposit slip or transfer screenshot)</span>
						
							<div class="input-container relative w-full pb-2 mt-4 border-2 outline-none focus:border-blue-100 focus:border">
								<input 
									hx-post="<%= add_funds_validate_transaction_path(field: 'deposit_slip') %>"
									hx-trigger="change"
									hx-encoding='multipart/form-data'
									hx-target="#add-funds-deposit-slip-errors"
									hx-include="[name='transaction[bank_account_number]']"
									hx-swap="innerHtml"
									_="on htmx:afterRequest
										if event.detail.xhr.response.length > 0
											add .bg-gray-300 .cursor-not-allowed to #confirm-transaction-button
											remove .bg-farmbank-yellow .hover:bg-yellow-500 from #confirm-transaction-button
											add .invalid to #deposit-slip
											add @disabled to #confirm-transaction-button
										else
											remove .invalid from #deposit-slip
											remove @disabled from #confirm-transaction-button
											remove .bg-gray-300 .cursor-not-allowed from #confirm-transaction-button 
											add .bg-farmbank-yellow .hover:bg-yellow-500 to #confirm-transaction-button
										end" 
									name="transaction[deposit_slip]" 
									class="dropzone cursor-pointer w-full p-4 relative z-10 h-full pl-3" 
									type="file"
									required
									id="deposit-slip">
								<div class=" text-white px-3 bg-farmbank-teal absolute z-20 top-0 left-0 cursor-pointer h-full flex flex-col justify-center items-center">
									Choose files	
								</div>
							</div>
							<div class="w-full mt-2 mb-6 sm:mb-0 text-gray-500 text-xs font-normal leading-none">PNG, JPG or PDF</div>
						</label>

						<div id="add-funds-deposit-slip-errors">
						</div>
					</div>
				</div>
				
				<div class="flex items-center justify-center w-full px-8 py-8 border-t sm:border-t-0 ">
					<button
						disabled
						_="on click add @disabled then add .cursor-not-allowed to #confirm-transaction-button"
						id="confirm-transaction-button"
						type="submit"
						hx-post="<%=add_funds_path %>"
						hx-target="#add-funds-container"
						hx-encoding='multipart/form-data'
						hx-trigger="click"
						class="no-style cursor-pointer block w-full py-3 font-bold text-center text-white transition-all bg-gray-300 cursor-not-allowed rounded-full sm:py-3 sm:w-80 ">
							Confirm
					</button>
				</div>
			</div>
		</form>
	</div>
</section>

<script type="text/hyperscript">

	def go_back()
		if $page is 2 
			add .hidden to #page-2 
			remove .hidden from #page-1 
			set $page to 1 
		else 
			go to url <%=app_home_path %>
		end
	end

</script>