
<div class="flex flex-col gap-y-1 border-t border-gray-400 md:border-0">
  <div class="text-lg font-semibold py-2">Articles</div>
  <a class="px-4 py-2 rounded hover:bg-gray-100 <%= 'bg-gray-100 font-semibold' if @filename == "readme.md" %>" href="<%= root_path %>">What is HTML First?</a>

  <div class="text-lg font-semibold py-2">Resources</div>
  <a class="px-4 py-2 rounded hover:bg-gray-100 <%= 'bg-gray-100 font-semibold' if current_page?(libraries_path) %>" href="<%= libraries_path %>">Libraries</a>
  <a class="px-4 py-2 rounded hover:bg-gray-100 <%= 'bg-gray-100 font-semibold' if current_page?(snippets_path) %>" href="<%= snippets_path %>">Code Snippets</a>

  <div class="text-lg font-semibold py-2">Other</div>
  <a class="px-4 py-2 rounded hover:bg-gray-100 <%= 'bg-gray-100 font-semibold' if @filename == "docs/technical_notes.md" %>" href="<%= docs_path("technical_notes") %>">About This Codebase</a>
  
</div>