<title><%= page_title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="description" content="<%= page_description %>">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="preload" href="/stylesheets/tailwind-f475bbe.css<%= cache_buster %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/stylesheets/forms-f475bbe.css<%= cache_buster %>" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/stylesheets/custom.css<%= cache_buster %>" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>
<link rel="stylesheet" href="/stylesheets/tailwind-f475bbe.css<%= cache_buster %>">
<link rel="stylesheet" href="/stylesheets/forms-f475bbe.css<%= cache_buster %>">
<link rel="stylesheet" href="/stylesheets/custom.css<%= cache_buster %>">
</noscript>

<%= render :partial => "shared/inline_css" %>

<script src="/js/custom.js<%= cache_buster %>" defer></script>
<script src="/js/pusher.min-7.0.js<%= cache_buster %>" defer></script>
<script src="/js/htmx-1.8.0.js<%= cache_buster %>" defer></script>
<script src="/js/hyperscript.min-0.9.7.js<%= cache_buster %>" defer></script>
<script src="/js/popper-2.11.8.js<%= cache_buster %>" defer></script>
<script src="/js/tippy-6.3.7.js<%= cache_buster %>" defer></script>
  
<% unless ENV["OFFLINE_DEV"].present? %>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;900&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

  <noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;600;900&display=swap">
  </noscript>
  
<% end %>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">
