
<title><%= page_title %></title>
<meta name="viewport" content="width=device-width,initial-scale=1">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<link rel="stylesheet" media="screen" href="https://misc.toniclabs.ltd/stylesheets/tailwind.css" />
<link rel="stylesheet" media="screen" href="https://misc.toniclabs.ltd/stylesheets/forms.css" />
<link rel="stylesheet" media="screen" href="https://misc.toniclabs.ltd/stylesheets/averta.css" />
<link rel="stylesheet" media="screen" href="/stylesheets/custom.css" />

<script src="https://js.pusher.com/7.0/pusher.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/js/custom.js"></script>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<meta name="apple-mobile-web-app-capable" content="yes">

<script type="text/javascript">
  
  let client = new Pusher("<%= ENV['PUSHER_KEY'] %>", {
    wsHost: "<%= ENV['PUSHER_HOST'] %>",
    wsPort: 443,
    wssPort: 443,
    forceTLS: true,
    encrypted: true,
    disableStats: true,
    enabledTransports: ['ws', 'wss'],
  });

  <%- if user_signed_in? %>

    client.subscribe('user-toasts-<%= current_user.id.to_s %>').bind('new-toast', ({ content }) => {
      console.log(`Received: ${content}`);
      container = document.querySelector('.toasts-container')
      container.insertAdjacentHTML('afterbegin', content)
        _hyperscript.processNode(container)
    });

  <% end %>

</script>