<script>
  showingModal = false
</script>
<div class="toasts-container p-5 fixed top-0 z-20">
</div>

<div id="main-modal" :class="showingModal ? 'block' : 'hidden' " class="hidden bg-gray-700 bg-opacity-50 fixed top-0 bottom-0 right-0 left-0 flex justify-center items-center z-30">
  <div id="main-modal-inner" class="relative m-auto max-w-3xl bg-white rounded flex-grow">
    <div style="left:-40px" class="cursor-pointer absolute" _= "on click add .hidden to #main-modal">
      <%= inline_svg_tag("heroicons/icon-x.svg",class:"w-10 h-10 text-white") %>
    </div>
    <div id="main-modal-content">
    </div>
  </div>
</div>

<div id="right-sidebar" class="hidden bg-gray-700 bg-opacity-50 fixed top-0 bottom-0 right-0 left-0 flex justify-center items-center z-20" >
  <div id="right-sidebar-inner" class="shadow bg-white fixed right-0 bottom-0 top-0 flex z-20" style="width:500px">
    <div style="left:-40px" class="cursor-pointer absolute" _= "on click add .hidden to #right-sidebar">
      <%= inline_svg_tag("heroicons/icon-x.svg",class:"w-10 h-10 text-white") %>
    </div>
    <div id="right-sidebar-content">
    </div>
  </div>
</div>

<div id="default-modal" _="on click if event.target is me add .hidden" class="hidden bg-gray-700 bg-opacity-50 fixed top-0 w-screen h-screen bottom-0 right-0 left-0 flex justify-center items-center z-50 pt-12 sm:pt-0">
  <div id="default-modal-inner" draggable="true" _="on drag if event.y is greater than 200 add .hidden to #default-modal " class="relative mt-auto sm:m-auto text-gray-600 w-full h-full sm:h-auto sm:max-w-3xl bg-white sm:p-10 p-8 rounded-t-xl sm:rounded overflow-y-auto flex-grow">
    <div class="w-20 mx-auto bg-gray-300 h-1 sm:hidden"></div>
    
    <div _="on click add .hidden to #default-modal" class="absolute cursor-pointer top-0 right-0 mt-6 mr-6 z-20">
      <%=inline_svg_tag('heroicons/x-mark.svg', class: 'font-farmbank-teal w-5 h-5', style: 'stroke-width: 2.5')%>
    </div>

    <%# Content of modal below - ie. set htmx 'hx-target' attribute to my id %>
    <div id="default-modal-content" class="w-full h-full p-6 lg:p-10"></div>
  </div>
</div>

<div id="default-mobile-right-menu" _="on click if event.target is me add .hidden" class="hidden sm:hidden bg-farmbank-teal fixed top-0 w-screen h-screen bottom-0 right-0 left-0 flex justify-center items-center z-50">
  <div id="default-mobile-right-menu" class="relative mt-auto text-gray-600 w-full h-full flex flex-col items-stretch justify-between overflow-y-auto flex-grow">
    
    <%=render partial: 'shared/header'%>

    <%# Content of modal below - ie. set htmx 'hx-target' attribute to my id %>
    <div id="default-mobile-right-menu-content" class="flex flex-col items-start flex-grow space-y-10 w-full p-6 lg:p-10">
      <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me then add .hidden to #default-mobile-right-menu then toggle .active-menu on .main-nav-toggle" href="<%=root_path%>" class="nav-item w-auto block text-xl font-semibold tracking-wide text-white sm:mr-8 font-farmbank-green-200 border-b-4 border-farmbank-green-200">Home</a>
      <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me then add .hidden to #default-mobile-right-menu then toggle .active-menu on .main-nav-toggle" href="<%=root_path + '#about-us' %>" class="nav-item text-xl font-semibold tracking-wide text-white sm:mr-8">About Us</a>
      <a _="on click remove .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 from .nav-item if it is not me then add .border-b-4 .border-farmbank-green-200 .font-farmbank-green-200 to me then add .hidden to #default-mobile-right-menu then toggle .active-menu on .main-nav-toggle" href="<%=root_path + '#faqs' %>" class="nav-item text-xl font-semibold tracking-wide text-white sm:mr-8">FAQs</a>
    </div>

    <div class="flex flex-col items-center justify-center pb-10 px-6 mt-auto space-y-3">
      <% if user_signed_in? %>
       
        <a href="<%= app_home_path %>" class="text-center py-3 w-full text-white bg-farmbank-yellow hover:bg-yellow-500 rounded-full">
          My Account
        </a>
        <a href="<%= destroy_user_session_path %>" class="text-center py-3 w-full text-white bg-transparent border border-white rounded-full">
          Sign Out
        </a>
        
      <% else %>
       
        <a href="<%= start_kyc_onboarding_path %>" class="text-center py-3 w-full text-white bg-farmbank-yellow hover:bg-yellow-500 rounded-full">
          Open Account
        </a>
        <a href="<%= new_user_session_path %>" class="text-center py-3 w-full text-white bg-transparent border border-white rounded-full">
          Log in
        </a>
       
      <% end %>
    </div>
  </div>
</div>
