<input type="hidden" name="kyc_onboarding[validation_set]" value="signature_specimen" >

<h4 class="mb-1 text-lg text-gray-600 my-3">Upload 1 specimen signature signed on a piece of white paper.</h4>


<div class="flex flex-col items-start justify-center w-full my-3">
	<input id="dummy-signature-present-toggle" name="kyc_onboarding[signature_present_at_onboarding]" type="hidden"  value="<%=@kyc_onboarding.signature_present_at_onboarding ? 1 : 0%>">
	
	<label class="no-style relative text-base text-gray-500 w-full" for="signature-specimen" name="Choose">
		<div class="<%= 'invalid' if @kyc_onboarding.errors[:signature_id].present?%> input-container relative w-full pb-2 mt-2 border-2 outline-none focus:border-blue-100 focus:border">
			<input _="on change add .hidden to #dummy-filename-container" name="kyc_onboarding[signature_id]" class="dropzone w-full cursor-pointer p-4 relative z-10 h-full pl-3" type="file" id="signature-specimen" >
			<div id="choose-files-button" class=" text-white w-1/4 px-3 bg-farmbank-teal absolute z-20 top-0 left-0 cursor-pointer h-full flex flex-col justify-center items-center">
				Choose files	
			</div>
			<div id="dummy-filename-container" class="absolute cursor-pointer right-0 top-0 w-3/4 h-full text-left flex items-center pl-3 bg-white z-10">
				<p>
					<% if @kyc_onboarding.signature_id.attached? %>
						<%=@kyc_onboarding.signature_id.blob.filename.to_s%>
					<% else %>
						No file chosen.
					<% end %>
				</p>
			</div>
		</div>
	</label>
	
	<p class="mt-1 text-xs font-light tracking-wide">PNG, JPG or PDF</p>

	<div _="on click call toggleSignaturePresent()" class="flex mt-4 cursor-pointer items-center">
		<button id="signature-present-btn" type="button" class="<%=@kyc_onboarding.signature_present_at_onboarding ? 'bg-gray-200' : 'bg-farmbank-teal'%> relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none focus:ring-offset-2" role="switch" aria-checked="false" aria-labelledby="annual-billing-label">
			<span id="toggle-bg" aria-hidden="true" class="<%=@kyc_onboarding.signature_present_at_onboarding ? 'translate-x-0' : 'translate-x-5'%> pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out"></span>
		</button>
		<span class="ml-3 ">
			<span class="font-medium text-gray-900">I’ll add this later</span>
		</span>
	</div>
</div> 

<style>
	input[type='file'] { padding-left: 27% }
	::file-selector-button { font-size: 0; width: 0px !important; display: none !important;}
</style>

<script type="text/hyperscript">
	def toggleSignaturePresent
		toggle .bg-farmbank-teal .bg-gray-200 on #signature-present-btn in me
		toggle .translate-x-5 on #toggle-bg in me
		toggle .cursor-not-allowed .pointer-events-none on #dummy-filename-container
		toggle .cursor-not-allowed .pointer-events-none on .dropzone
		toggle .cursor-not-allowed .pointer-events-none on #choose-files-button
		
		if #dummy-signature-present-toggle.value == "0"
			set #dummy-signature-present-toggle.value to "1"
		else
			set #dummy-signature-present-toggle.value to "0"
		end
		
	end
</script>