<form class="flex flex-col items-center justify-center w-full my-3">
  <input type="hidden" name="kyc_onboarding[validation_set]" value="financial_info" >
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" >

	<div class="flex items-center justify-between w-full">
	  <p class="mb-2 text-base font-normal text-gray-500">Financial Information</p>
		<button
      type="button" 
			_="on click toggle .hidden on #static-financial-info-display then toggle .hidden on #edit-financial-info-form then toggle .hidden on .inner-text in me"
      class="font-semibold tracking-wide font-farmbank-teal cursor-pointer hover:underline">
        <span class="inner-text <%= 'hidden' if @kyc_onboarding.errors.messages.any?%>">Edit </span>
        <span class="inner-text <%= 'hidden' unless @kyc_onboarding.errors.messages.any?%>"> Cancel </span>
    </button>
	</div>


	<div class="flex flex-col items-stretch justify-center w-full p-6 bg-gray-50 rounded-2xl">
		<div id="static-financial-info-display" class="<%= 'hidden' if @kyc_onboarding.errors.messages.any?%> w-full" >
      <div class="w-full space-y-1 mb-3">
        <p class="text-gray-500 ">Source of Funds</p>
        <h5 class="font-semibold tracking-wide text-gray-700 ">
          <%= @kyc_onboarding.source_of_funds %>
        </h5>
      </div>
      <div class="w-full space-y-1 mb-3">
        <p class="text-gray-500 ">Gross Monthly Income</p>
        <h5 class="font-semibold tracking-wide text-gray-700 ">
          <%=format_amount(@kyc_onboarding.gross_monthly_income, 'PHP ') %>
        </h5>
      </div>
    </div>

    <div id="edit-financial-info-form" class="<%= 'hidden' unless @kyc_onboarding.errors.messages.any?%> w-full">
      <div class="mb-3">
        <label class="mb-1 text-gray-700" for="source-of-funds">Source of Funds</label>
	      <select class="<%= 'invalid' if @kyc_onboarding.errors[:source_of_funds].present? %> w-full p-4 border-2 outline-none pl-9 focus:border-blue-100 focus:border" name="kyc_onboarding[source_of_funds]" id="source-of-funds">
          <option value="" disabled <%='selected' if @kyc_onboarding.source_of_funds.blank?%> > Select a source of funds </option>
          <% source_of_funds_for_select.each do |source| %>
            <option value='<%=source%>' <%='selected' if @kyc_onboarding.source_of_funds == source%>>
              <%=source%>
            </option>
          <% end %>
        </select>
        <p class="text-red-500 text-sm"> 
          <% if @kyc_onboarding.errors[:source_of_funds].present? %>
            <%= @kyc_onboarding.errors[:source_of_funds].first.humanize %>
          <% end %>
        </p>
      </div>
      <div class="mb-3">
        <label class="mb-2 text-base font-normal text-gray-500" for="gross-monthly-income">Gross Monthly Income</label>
        <div class="relative w-full">
          <input style="padding-left: 50px; position: relative" class="<%= 'invalid' if @kyc_onboarding.errors[:gross_monthly_income].present? %> w-full relative p-4 border-2 outline-none focus:border-blue-100 focus:border" name="kyc_onboarding[gross_monthly_income]" type="text" id="gross-monthly-income" value="<%= @kyc_onboarding.gross_monthly_income%>" >
          <div class="absolute font-semibold text-gray-600 left-0 px-3 h-full top-0 transform" style="--tw-translate-y: 23%;">PHP</div>
        </div>
        <p class="text-red-500 text-sm"> 
          <% if @kyc_onboarding.errors[:gross_monthly_income].present? %>
            <%= @kyc_onboarding.errors[:gross_monthly_income].first.humanize %>
          <% end %>
        </p>
      </div>

      <div class="float-right flex items-center space-x-3">
        <button
          class="float-right rounded-md px-4 py-2 bg-farmbank-yellow text-white font-semibold tracking-wide hover:bg-yellow-500"
          hx-put="<%=kyc_onboarding_summary_path(code: @kyc_onboarding.identifier, step: 'financial_info')%>"
          hx-trigger="click"
          hx-target="#summary-financial-info-form"
          type="button">
          Save
        </button>
      </div>
    </div>
	</div>
</form>