<form class="flex flex-col items-center justify-center w-full">
  <input type="hidden" name="kyc_onboarding[validation_set]" value="referral_code" >
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>" >
	

  <div class="flex items-center justify-between w-full">
    <p class="mb-2 text-base font-normal text-gray-500">Referral Program</p>
    <button
			type="button" 
			_="on click toggle .hidden on #static-referral-code-display then toggle .hidden on #edit-referral-code-form then toggle .hidden on .inner-text in me"
			class="hidden font-semibold tracking-wide font-farmbank-teal cursor-pointer hover:underline">
        <span class="inner-text <%= 'hidden' if @kyc_onboarding.errors.messages.any?%>">Edit </span>
        <span class="inner-text <%= 'hidden' unless @kyc_onboarding.errors.messages.any?%>"> Cancel </span>
		</button>
  </div>
  
	<div class="flex flex-col items-stretch justify-center w-full p-6 bg-gray-50 rounded-2xl">
		<div id="static-referral-code-display" class="<%= 'hidden' if @kyc_onboarding.errors[:referral_code].present?%> w-full">
      <p class="text-gray-500 ">Referral Code</p>
      <h5 class="font-semibold tracking-wide text-gray-700 "><%=@kyc_onboarding.user.referred_by_code%></h5>
		</div>

		<div id="edit-referral-code-form" class="<%= 'hidden' unless @kyc_onboarding.errors[:referral_code].present?%>">
			<div class="mb-3">
				<label class="mb-1 text-gray-700" for="referral-code">Referral Code</label>
				<input class="<%= 'invalid' if @kyc_onboarding.errors[:referral_code].present? %> w-full py-3 px-4 border-2 outline-none focus:border-teal focus:border-2" name="kyc_onboarding[referral_code]" type="text" value="<%=@kyc_onboarding.user.referred_by_code%>" id="referral-code" placeholder="Enter 5 character referral code">
        <p class="text-red-500 text-sm"> 
          <% if @kyc_onboarding.errors[:referral_code].present? %>
            <%= @kyc_onboarding.errors[:referral_code].first.humanize %>
          <% end %>
        </p>
      </div>

      <div class="float-right flex items-center space-x-3">
        <button
          class="float-right rounded-md px-4 py-2 bg-farmbank-yellow text-white font-semibold tracking-wide hover:bg-yellow-500"
          hx-put="<%=kyc_onboarding_summary_path(code: @kyc_onboarding.identifier, step: 'referral_code')%>"
          hx-trigger="click"
          hx-target="#summary-referral-form"
          type="button">
          Save
        </button>
      </div>
		</div>
	</div>
</form>