<div style="width: 100%; padding-bottom: 1px; justify-content: center; align-items: center;">
  <div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
    Dear <%=@name%>,
    <br/><br/><br/>
  </div>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  We appreciate your interest in opening an account with Farmbank. However, we regret to inform you that your account verification was not successful at this time.
  <br/><br/><br/>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  To understand more about the specific reasons for this decision and explore potential solutions, you may contact us directly. Our team is here to assist you and provide any necessary guidance.
  <br/><br/><br/>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  Please reach out to us at <a href="mailto:<%=ENV.fetch('DEFAULT_FROM_EMAIL')%>"><%=ENV.fetch('DEFAULT_FROM_EMAIL')%></a> or call us at <a href="tel:<%=ENV.fetch('DEFAULT_CONTACT_NUMBER')%>"><%=ENV.fetch('DEFAULT_CONTACT_NUMBER')%></a>. We are committed to helping you with this process.
  <br/><br/><br/>
</div>

<div style="width: 100%; color: black; font-size: 16px; font-family: Helvetica; font-weight: 400; word-wrap: break-word">
  Thank you for choosing Farmbank.
  <br/><br/><br/>
  Sincerely,  
  <br/><br/><br/>
  The Farmbank Team
</div>