<!DOCTYPE html>
<html class="h-full" lang="en">
  <head>
    <%= render :partial=> "shared/head" %>
  </head>
  <body class="relative h-full">
    
    <%= render :partial => "shared/partial_containers" %>
    
    <% if user_signed_in? %>
      <div class="fixed hidden z-50 bottom-0 left-0">
        <div class="shadow rounded bg-white mb-4 ml-4">
          <a class="rounded hover:bg-white px-3 py-2 block" href="<%= destroy_user_session_path %>"> 
            Log Out
          </a>
        </div>
      </div>
    <% else %>
      <div class="fixed hidden z-50 bottom-0 left-0">
        <div class="shadow rounded bg-white mb-4 ml-4">
          <a class="rounded hover:bg-white px-3 py-2 block" href="<%= new_user_session_path %>"> 
            Log In
          </a>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
